@import "style.css";

:root {
    /* font family's */
    --font-mono: "Space Mono", monospace; 
    --font-pixel: "Pixelify Sans", sans-serif; 
    --font-default: "Titillium Web", sans-serif;

    /* primary colors (teal) */
    --primary-100: #6ee7b7;
    --primary-200: #34d399;
    --primary-300: #10b981;
    --primary-400: #059669;
    --primary-500: #047857;

    /* main-bg */
    --bg: #ffffff;
    --sidenav-bg: #121212;

    /* base colors (slate) */
    --base-100: #c4d4eb;
    --base-200: #475569;
    --base-300: #334155;
    --base-400: #1e293b;

    --neutral: black;

    /* font sizes */
    --font-1: 1rem;
    --font-2: 1.125rem;
    --font-3: 1.25rem;
    --font-4: 1.375rem;
    --font-5: 1.5rem;
    --font-6: 1.625rem;
    --font-7: 1.75rem;
    --font-8: 1.875rem;
    --font-9: 2rem;
    --font-10: 2.125rem;

    --size-lg: 3.75rem;
    --size-xl: 5rem;
    --size-2xl: 6.25rem;
    --size-3xl: 7rem;
    --size-4xl: 8rem;

    /* container sizes */
    --btn-height: 45px;
    --btn-width: 100px;
    --size-1: 40px;
    --size-2: 50px;
    --size-3: 60px;
    --size-4: 70px;
    --size-5: 80px;
    --size-6: 90px;
    --size-7: 100px;
    --size-8: 110px;
    --size-9: 120px;
    --size-10: 130px;
}

[data-theme="dark"] {
    --bg: #121212;
    --neutral: #ffffff;
    --sidenav-bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    width: 100%;
    height: 97vh;
    background-color: var(--bg); 
    color: var(--neutral);
    font-family: var(--font-default);
}
