.projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: var(--size-1);
}

.projects_title {
    font-size: var(--size-4);
}

.projects_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80%;
    width: 100%;
    margin-top: var(--size-2);
}

.grid_box {
    position: absolute;
    width: 320px;
    height: 320px;
    border: 1px solid var(--neutral);
    transition: all ease-in-out 200ms;
    background-color: var(--bg);
}

.control_container {
    display: flex;
    gap: var(--size-1);
}

.active {
    background-color: var(--primary-100);
}

.control_container i {     
    cursor: pointer;
    font-size: var(--font-8);
    border: 1px solid white;
    padding:  var(--font-1);
    transition: all ease-in-out 200ms;
}

.control_container i:hover {     
    background-color: var(--neutral);
    color: var(--bg);
}

.box_title {
    font-size: var(--font-5);
    color: var(--neutral);
}
