.projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.projects_title {
    text-align: center;
    font-size: var(--size-4);
}

.proj_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.projects_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 200px;
    width: 370px;
    height: 320px;
    padding: var(--font-5);
    border: 1px solid var(--neutral);
    color: var(--neutral);
    transition: all ease 300ms;
    background-color: var(--bg);
    text-decoration: none;
    opacity: 0;
}

.last {
    transform: translate(450px, 100px);
}

.prev {
    transform: translate(570px, -150px);
}

.active {
    color: var(--bg);
    background-color: var(--neutral);
    width: 700px;
    height: 420px;
    font-size: var(--font-5);
    font-weight: semi-bold;
    transition: all ease 300ms;
    transform: translate(0%, 0%);
}

.next {
    transform: translate(10%, -10%);
}

.first {
    transform: translate(-450px, 100px);
}

.box_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_des {
    font-weight: 300;
    font-size: var(--font-2);
    margin-top: 10px;
}

.box_title {
    font-size: var(--font-7);
}

.proj_tech {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_link_container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box_link_container a {
    font-size: var(--font-3);
}

.box_link_container a:hover {
    text-decoration: underline;
}

.icon_container {
    display: flex;
    gap: var(--font-9);
}

.icon_container i {
    font-size: var(--size-1);
}

.control_container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: var(--size-1);
    width: 400px;
    z-index: 100;
    margin-bottom: var(--font-9);
}

.hidden {
    position: absolute;
    opacity: 0;
    transform: translate(0, 0);
}

.direction_container {
    display: flex;
    gap: 20px;
}

.direction_container i {
    font-size: var(--size-4);
}

.control_container>i:nth-child(2) {
    width: auto;
}

.control_container>i:nth-child(3) {
    width: auto;
}

.control_container i:hover {
    background-color: var(--neutral);
    color: var(--bg);
}

@media screen and (max-width: 980px) {
    .active {
        width: 90%;
        height: 400px;
        transform: translate(0, -100px);
    }

    .control_container {
        gap: 15px;
    }
}

@media screen and (max-width: 700px) {
    .active {
        height: 400px;
    }

    .box_des {
        margin-top: 0px;
    }

    .box_link_container a {
        font-size: var(--font-1);
    }

    .projects_title {
        display: none;
    }

    .box {
        bottom: 100px;
        padding: 15px;
    }
}

@media screen and (max-width: 630px) {
    .active {
        height: 70%;
    }

    .box_link_container {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0;
    }
}

@media screen and (max-width: 500px) {
    .box {
        bottom: 3%;
        padding: 15px;
        justify-content: space-around;
    }

    .box_link_container a {
        font-size: 15px;
    }

    .box_title {
        font-size: var(--font-9);
    }

    .box_des {
        font-size: var(--font-1);
    }

    .prev {
        height: 90%;
        transform: translate(55%, 10px);
    }

    .active {
        height: 95%;
        transform: translate(0, 0);
    }

    .next {
        height: 90%;
        transform: translate(-55%, 10px);
    }

    .control_container {
        display: none;
    }
}
