.visible {
    display: initial;
}

.layer {
    position: absolute;
    background-color: var(--base-200);
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    border-radius: 10px;
}

.page_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-1);
    height: 100%;
}

.project_container {
    height: 100%;
    overflow: scroll;
}

.about_me_container {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}

#page_bg_image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 350px;
    height: 300px;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: none;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral);
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.right_bar {
    position: absolute;
    right: 0;
    width: var(--size-3);
    height: 100%;
    border-left: 1px solid var(--neutral);
    z-index: 10;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--bg);
}

.bottom_bar {
    display: flex;
    align-items: center;
    height: var(--size-3);
    width: 100%;
    border-top: 1px solid var(--neutral);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--bg);
}

.left_bar {
    position: absolute;
    left: 0;
    width: var(--size-3);
    height: 100%;
    border-right: 1px solid var(--neutral);
    z-index: 10;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--bg);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_container span {
    font-weight: semi-bold;
    font-size: var(--font-4);
    padding-left: 10px;
}

.sidenav {
    gap: var(--font-2);
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 150;
    background-color: var(--sidenav-bg);
    color: var(--bg);
    padding: 10px;
    margin: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidenav_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.3px solid var(--bg);
    border-bottom-left-radius: 10px;
    border-bottom: none;
    border-left: none;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.bottom_bar_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    color: var(--neutral);
    border-bottom-left-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}

.slidein {
    animation: slide_in 500ms;
    animation-fill-mode: forwards;
}

.slideout {
    animation: slide_out 300ms;
    animation-fill-mode: forwards;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-3);
    height: var(--btn-height);
    transition: all ease-in-out 300ms;
    cursor: pointer;
    color: var(--neutral);
    overflow: hidden;
}

.close_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-3);
    height: var(--btn-height);
    max-width: var(--size-1);
    max-height: var(--size-1);
    border: 1px solid var(--bg);
    transition: all ease-in-out 300ms;
    cursor: pointer;
    color: var(--bg);
    overflow: hidden;
    border-top: none;
    border-right: none;
}

.close_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.close_btn:hover::before {
    background-color: var(--bg);
    animation: fill 200ms;
    animation-fill-mode: forwards;
}

.close_btn:hover {
    color: var(--neutral);
}

.menu_btn {
    border-right: 1px solid var(--neutral);
}

.theme_btn {
    border-left: 1px solid var(--neutral);
}

.menu_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.menu_btn:hover::before {
    background-color: var(--neutral);
    animation: fill 200ms;
    animation-fill-mode: forwards;
    border-top-left-radius: 10px;
}

.theme_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.theme_btn:hover::before {
    background-color: var(--neutral);
    color: var(--bg);
    animation: fill 200ms forwards;
    border-top-right-radius: 10px;
}

.theme_btn {
    overflow: hidden;
}

.btn:hover {
    color: var(--bg);
}

.top_menu_section {
    display: flex;
    justify-content: end;
}

.top_menu_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.top_menu_section {
    font-weight: semi-bold;
    font-size: var(--font-4);
}

.top_menu_section span {
    border: 1px solid var(--bg);
    margin-left: 10px;
    margin-top: 3px;
    width: 100%;
    padding: 0 10px;
    border-top: none;
    border-left: none;
}

.bottom_menu_section {
    margin-top: var(--size-2);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.menu_links {
    position: relative;
    padding: 10px;
    font-size: var(--size-3);
    font-family: var(--font-mono);
    font-weight: bold;
    letter-spacing: -1px;
    font-style: none;
    text-decoration: none;
    color: var(--bg);
}

.menu_links::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.menu_links:hover::before {
    background-color: var(--bg);
    animation: fill 300ms forwards;
    clip-path: polygon(100% 0, 100% 60%, 95% 100%, 0 100%, 0 0);
}

.menu_links:hover {
    color: var(--neutral);
}

.hero_section {
    text-align: start;
}

.hero_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    font-size: var(--size-9);
    font-family: var(--font-pixel);
    width: 100%;
}

.hero_des {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    font-size: 20px;
    font-family: var(--font-mono);
    text-align: center;
}

.social_link_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.link_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.link_title {
    font-size: var(--font-3);
    font-family: var(--font-mono);
}

.link_list {
    display: flex;
    gap: 30px;
}

.link_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-2);
    height: var(--size-2);
    transition: all ease-in-out 180ms;
    list-style: none;
    text-decoration: none;
    color: var(--neutral);
}

.link_box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
}

.link_box:hover::before {
    background-color: var(--neutral);
    animation: fill 300ms forwards;
}

.link_box i {
    font-size: var(--font-9);
}

.link_box:hover {
    color: var(--bg);
    background-color: var(--neutral);
}

.fadein {
    animation: fade_in 200ms ease-in;
}

.fadeout {
    animation: fade_out 200ms ease-in;
}

@media screen and (max-width: 980px) {
    .hero_title {
        font-size: var(--size-7);
        justify-content: start;
    }

    .hero_des {
        text-align: left;
    }

    .sidenav {
        margin: 0;
        border-radius: 0;
    }

    .slidein {
        animation: slide_in_small 500ms;
        animation-fill-mode: forwards;
    }

    .slideout {
        animation: slide_out_small 200ms;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 1100px) {
    .left_bar,
    .right_bar {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .link_container {
        padding: 10px;
    }

    .bottom_bar {
        height: 150px;
    }
}

@media screen and (max-width: 700px) {
    .link_title {
        display: none;
    }

    .link_container {
        flex-direction: column;
        gap: 7px;
    }
}

@media screen and (max-width: 500px) {
    .menu_links {
        font-size: var(--size-3);
    }

    .link_list {
        gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    .menu_links {
        font-size: var(--size-2);
    }
}

@media screen and (max-width: 370px) {
    .menu_links {
        font-size: var(--size-1);
    }
}
