.main_container {
    border: 1px solid var(--neutral);
    border-radius: 10px;
    z-index: 1;
}

#page_bg_image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 350px;
    height: 300px;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo_container span {
    font-weight: semi-bold; 
    font-size: var(--font-4);
}

.sidenav {
    position: absolute;
    width: 500px;
    height: 100%;
    z-index: 150;
    background-color: var(--sidenav-bg);
    overflow: hidden;
    color: var(--bg);
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    padding: 10px;
}

.sidenav_inner {
    border: 1px solid var(--bg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.slidein {
    animation: slide_in 500ms;
    animation-fill-mode: forwards;
}

.slideout {
    animation: slide_out 200ms;
    animation-fill-mode: forwards;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-3);
    height: var(--btn-height);
    max-width: var(--size-1); 
    max-height: var(--size-1);
    border: 1px solid var(--neutral);
    transition: all ease-in-out 300ms;
    cursor: pointer;
    color: var(--neutral);
    overflow: hidden;
}

.close_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-3);
    height: var(--btn-height);
    max-width: var(--size-1); 
    max-height: var(--size-1);
    border: 1px solid var(--bg);
    transition: all ease-in-out 300ms;
    cursor: pointer;
    color: var(--bg);
    overflow: hidden;
    border-top: none;
    border-right: none;
}

.close_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.close_btn:hover::before {
    background-color: var(--bg);
    animation: fill 200ms;
    animation-fill-mode: forwards;
}

.close_btn:hover {
    color: var(--neutral); 
}

.menu_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.menu_btn:hover::before {
    background-color: var(--neutral);
    animation: fill 200ms;
    animation-fill-mode: forwards;
}

.menu_btn {
    border-top: none;
    border-left: none;
}

.theme_btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.theme_btn:hover::before {
    background-color: var(--neutral);
    color: var(--bg);
    animation: fill 200ms forwards;
}

.theme_btn {
    overflow: hidden;
    border-top: none;
    border-right: none;
}

.btn:hover {
    color: var(--bg);
}

.top_menu_section {
    display: flex;
    justify-content: end;
}

.top_menu_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.top_menu_section {
    font-weight: semi-bold;
    font-size: var(--font-4);
}

.top_menu_section span {
    border: 1px solid var(--bg);
    margin-left: 10px;
    margin-top: 3px;
    width: 100%;
    padding: 0 10px;
    border-top: none;
    border-left: none;
}

.bottom_menu_section {
    margin-top: var(--size-4);      
    display: flex;
    flex-direction: column;
    justify-content: end;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.menu_links {
    position: relative;
    padding: 10px;
    font-size: var(--size-3);
    font-family: var(--font-mono);
    font-weight: bold;
    letter-spacing: -1px;
    font-style: none;
    text-decoration: none;
    color: var(--bg);
}

.menu_links::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
}

.menu_links:hover::before {
    background-color: var(--bg);
    animation: fill 300ms forwards;
    clip-path: polygon(100% 0, 100% 60%, 95% 100%, 0 100%, 0 0);
}

.menu_links:hover {
    color: var(--neutral);
}

.hero_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: var(--font-9);
}

.hero_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    font-size: var(--size-9);
    font-family: var(--font-pixel);
    width: 100%;
}

.hero_des {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral);
    font-size: 20px;
    font-family: var(--font-mono);
    text-align: center;
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-bottom: var(--font-4);
}

.link_title {
    font-size: var(--font-3);
    font-family: var(--font-mono);
}

.link_list {
    display: flex;
    gap: 40px;
}

.link_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-2);
    height: var(--size-2);
    transition: all ease-in-out 180ms;
    list-style: none;
    text-decoration: none;
    color: var(--neutral);
}

.link_box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
}

.link_box:hover::before {
    background-color: var(--neutral);
    animation: fill 300ms forwards;
}

.link_box i {
    font-size: var(--font-9);
}

.link_box:hover {
    color: var(--bg);
}

.fadein {
    animation: fade_in 200ms ease-in;
}

.fadeout {
    animation: fade_out 200ms ease-in;
}

@media screen and (max-width: 980px) {
    .hero_title {
        font-size: var(--size-7);
    }

    .hero_des {
        text-align: left;
    }

    .slidein {
        animation: slide_in_small 500ms;
        animation-fill-mode: forwards;
    }

    .slideout {
        animation: slide_out_small 200ms;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 500px) {  
    .menu_links {
        font-size: var(--size-3);
    }

    .link_list {
        gap: 20px; 
    }
}

@media screen and (max-width: 450px) {  
    .menu_links {
        font-size: var(--size-2);
    }

    .link_container {
        flex-direction: column;
        gap: 7px;
    }
}

@media screen and (max-width: 370px) {  
    .menu_links {
        font-size: var(--size-1);
    }
}
